#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button:hover {
  border-radius: 15px;
  border: none;
  background-color: orchid;
  color: white;
  font-size: 40px;
  padding: 16px 24px;
  text-align: center;
}
/*solution*/
button {
transition: transform .9s ease-in-out;
}

button.hover{
  transform: scale(50);
}

